@font-face {
    font-family: vazirR;
    src: url("../../public/fonts/Vazirmatn-Thin.ttf");
}

.mainHeader a {
    /* font-family: vazirR; */
    font-size: 12px;
}

.greenButton {
    font-size: 10px;
}

.greenButton svg {
    font-size: 13px;
}




@media (max-width : 767px) {
    .mobile_menu {
        flex-direction: column;
        position: fixed;
        top: 0;
        /* left: 20p; */
        background-color: black;
        width: 200px;
        align-items: start;
        padding: 20px;
        border-radius: 20px;
        transition: all .5s;
    }

    .mobile_menu a {
        font-size: 15px;
        margin-bottom: 10px;
    }
}

@media (min-width : 768px) {
    .border_link, .border_link a{
        border-bottom: 2px solid #5cb207;
        color: #5cb207;
        line-height: 57px;
    }
}